.header-main:hover {
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

  padding: 13px;
}

/* header-color change on section */
/* Transparent Header */
.header-main.transparent {
  background-color: transparent; /* Transparent background */
  color: white; /* Text color for transparent header */
}

/* Colored Header */
.header-main.colored {
  background-color: #e2d7d7; /* Color when scrolled */
  color: white; /* Text color for colored header */
}

/* Box-shadow Effect on Hover */
.header-main:hover {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 13px; /* Padding on hover */
}

/* intro animation  */
.pfp {
  align-items: center;
  width: 250px;
  height: auto;
  opacity: 0; /* Initially hidden */
  transform: scale(0); /* Initially scaled down */
}

/* about section */
