@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');
@media (max-width: 1079px) {
    span{
        display:flex ;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .header-inner{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    .skill-item {
        flex: 1 1 calc(50% - 1rem); /* Adjust for spacing on medium screens */
        max-width: calc(50% - 1rem); /* Adjust for spacing on medium screens */
    }
}

@media (max-width: 480px) {
    .skill-item {
        flex: 1 1 calc(100% - 1rem); /* Full width minus spacing on small screens */
        max-width: calc(100% - 1rem); /* Full width minus spacing on small screens */
    }
}

@media (max-width: 768px) {
    .project-card {
        width: calc(50% - 1rem); /* Adjust for spacing on medium screens */
        max-width: calc(50% - 1rem); /* Adjust for spacing on medium screens */
    }
}
@import url("//unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css");


@media (max-width: 480px) {
    .project-card {
        width: calc(100% - 1rem); /* Full width minus spacing on small screens */
        max-width: calc(100% - 1rem); /* Full width minus spacing on small screens */
    }
}
.certificates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #555;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 320px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-content {
    padding: 15px;
    text-align: center;
  }
  
  .card h3 {
    margin: 0 0 10px;
  }
  
  .card p {
    color: #555;
  }

  .row img{
    width: 50px;
  }
  .btn :hover{
    width: 60px;
    transition: 0.3s ease-in;
    transform: scale(1,1);
 
  }
  
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
      margin: 10px 0;
    }
  }
 
  @import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');


  .main-tool-bar {
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5f1b1b;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    transform: translateY(0); /* Default state */
    transition: transform 0.4s ease, height 0.4s ease; /* Transition for height and transform */
  }
  
  .main-tool-bar--scrolled {
    height: 40px; /* Reduced height */
  }
  