@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

* {
  transition: all 0.3s ease-out;
}

html, body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;


}





/* other imp */
  
div > h2 {
  color: #ffffff;
  border-bottom: 3px solid #00838d;
  text-align: center;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 700;
  border-radius: 5px;

}
h2 {
  color: #ffffff;
  border-bottom: 3px solid #00838d;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}
h1 {
  color: #ffffff;
  border-bottom: 3px solid #00838d;
  margin-bottom: 10px;
  /* padding: 10px; */
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
 
} 
h4{
  color: #000000;

}








/* bg-skills-css */


.container-skill {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
  padding-top: 10vh;
  padding-bottom: 20vh;
  width: 100%;
}

.column {
  flex: 1;
  max-width: 300px;
  margin: 0 10px;
}







.skill-item {
  display: flex;
  width: 21vh;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 20px;
  margin: 12px 0;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  transition: all 0.3s ease-out;
  color: #ddd;
  margin-left: 5vh;
}

.skill-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.skill-item:hover:before {
  transform: scale(21);
}

.skill-item:hover {
  p {
    transition: all 0.3s ease-out;
    color: ;
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

.logo img {
  width: 60px;
  padding-bottom: 10px;
  margin-right: 20px;
}

.skill-item h3 {
  color: #00838d;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

.skill-item:hover {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.3);
  transform: translateY(-4px);
  color: #00838d;
}



.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: rgb(255, 255, 255);
  font-family: courier, sans;
}


/* end */