* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
.header-container{
    width: 100%;

}

.wrapper {
    width: 65%;
    margin: 0 auto;
    padding: 20px;
   
   
}
.header-inner{
    position: sticky;
    display: flex;
    justify-content: space-between;
   
  
}
.nav-list{
    display: flex;
    justify-content: center;
    gap: 20px;}
 
    .nav-list a {
        color: black;
        
        text-decoration: none; /* Removes underline */
    }